{
  "check-coverage": false,
  "per-file": true,
  "lines": 80,
  "statements": 80,
  "functions": 80,
  "branches": 80,
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "src/**/*.spec.js",
    "src/messages.js"
  ],
  "reporter": [
    "text",
    "text-summary",
    "html"
  ],
  "cache": true,
  "all": true
}
